 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap');
/* * {
        padding: 0;
        box-sizing: 0;
        max-width: 0;
      } */

      body {
        height: 100vh;
        width: 100%;
        font-family: "Source Code Pro", sans-serif;
        font-weight: 400;
        background-color: black;
        color: #fff;
      }

      h2{
         text-align: center;
      }

output{
   font-size: 22px;
}

      .wrapper {
        margin: 0 auto;
        /* border: 1px solid red; */
        padding: 0;
        width: 25rem;
        padding: 10px;
        display: flex;
        flex-direction: column;
        
      }

      .upper-wrapper {
        background-color: #24232b;
        color: #525159;
        /* border: 1px solid green; */
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
      }

      .file-icon{
        width: 20px;
      }

      .lower-wrapper {
        background-color: #24232b;
        /* border: 1px solid; */
        padding: 1rem;
      }

        .character-length-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        /* border: 1px solid #fff; */
      }

      .ouput {
        justify-content: center;
        margin-top: 15px;
        color: #a4ffaf;
      }

      .checkbox{
        margin-top: 1rem;
      }

      .strength-section {
        background-color: #18171f;
        color: #525159;
        font-size: 18px;
        padding: 0.5rem 2rem;
        font-weight: bold;
        margin: 1rem 0;
          display: flex;
     flex-direction: row;
     justify-content: space-between;
      }

      .boxes{
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .box{
        border: 2px solid #fff;
        width: 7px;
        height: 20px;
        margin-right: 3px;
      }

      .btn-section {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .btn {
        background-color: #a4ffaf;
        padding: 1rem 7rem;
        color: #24232b;
        font-size: 18px;
        font-weight: bold;
        border: none;
      }

      .next{
        width: 20px;
        margin-left: 1.5rem;
      }
 /*  */
/*  */
/*  */
/*  */
/* */
/*  */
 input[type=range] {
   -webkit-appearance: none;
}

input[type=range] {
   width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
   width: 300px;
   height: 10px;
   background: #17161e;
   border: none;
   border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   border: none;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #fff;
   margin-top: -4px;
}
input[type=range]:focus {
   outline: none;
}
 input[type=range]:focus::-webkit-slider-runnable-track {
   background: #17161e;
}
input[type=range] {
   /* fix for FF unable to apply focus style bug  */
   border: 1px solid #17161e;;
   /required for proper track sizing in FF/
   width: 300px;
}
 input[type=range]::-moz-range-track {
   width: 300px;
   height: 10px;
   background: #17161e;
   border: none;
   border-radius: 3px;
}
 input[type=range]::-moz-range-thumb {
   border: none;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #fff;
}

/hide the outline behind the border/
input[type=range]:-moz-focusring {
   outline: 1px solid #17161e;;
   outline-offset: -1px;
}
 input[type=range]:focus::-moz-range-track {
   background: #17161e;
}

/* for ie */

input[type=range]::-ms-track {
   width: 300px;
   height: 10px;

/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
   background: transparent;

/*leave room for the larger thumb to overflow with a transparent border */
   border-color: transparent;
   border-width: 6px 0;

/remove default tick marks/
   color: transparent;
}
input[type=range]::-ms-fill-lower {
   background: #17161e;
   border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
   background: #17161e;
   border-radius: 10px;
}
input[type=range]::-ms-thumb {
   border: none;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #fff;
}
input[type=range]:focus::-ms-fill-lower {
   background: #17161e;
}
input[type=range]:focus::-ms-fill-upper {
   background:#17161e;
}
/*  */
/*  *
/* / */



input[type="checkbox"] {
height:1.5em;
width:1.5em;
cursor:pointer;
position:relative;
-webkit-transition: .10s;
border-radius:4em;
background-color: #24232b;
}

input[type="checkbox"]:checked {
background-color: #24232b;
}
input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
line-height:1.5em;
text-align:center;
color: #a4ffaf;
background: #24232b;
border: 2px solid #fff;
}


input[type="checkbox"]:checked:before {
content: '✔';
}
